<form method="post" action="{{ path('app_product_delete', { id: product.id }) }}" onsubmit="return confirm('Are you sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger" style="margin-top: 12px;">Delete</button>
</form>
