{% extends 'back_office/base.html.twig' %}

{% block title %}Equipe Management{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
{% endblock %}